<div class="title">
    <h1 id="welcome">history</h1>
</div>
<div class="row">
  <div class="history-section col-lg-12 col-sm-12">
  <%= month_calendar do |date| %>
    <%= date.day %> <br>
        <% @answers.each do |answer| %>
          <% if date === answer.created_at.to_date %>
          <%= answer.user_reply %>
          <form> 
          <input type="text" name="name" id="name" placeholder="Name">
          <button> Edit </button>
          <br>
      <% end %>
    <% end %>
  <% end %>
  </div>
</div>