<div class="title">
    <h1>journal</h1>
</div>

<div class="row">

    <% @questions.each_with_index do |question, index| %>
        <div class="section<%=index+1%> col-lg-4 col-sm-12">
            <h4><%= question.title %></h4>
            <%= form_tag('/journal/'+question.id.to_s+'/answer', :class => 'journal' ) do %>
                <input type="text" name="user_reply"><br>
                <button type="submit" class="journal-button">submit</button>
            <% end %>
        </div>
    <% end %>

</div>

