
<div class="title">
  <h1 id="welcome">welcome</h1>
</div>

<div class="row">
  <div class="login-section col-lg-12 col-sm-12">

  <div class="sign-up">
    <%= form_tag sessions_path do %>

    <div class="field">
      <%= text_field_tag :email, params[:email] %>
    </div>

    <div class="field">
      <%= password_field_tag :password %>
    </div>

    <div class="actions"><%= submit_tag "login", :id => 'login-button' %></div>
    <% end %>
  </div>
</div>



