<div class="title">
    <h1><%= @title %></h1>
</div>

<div class="row">
    <div class="section1 col-lg-4 col-sm-12">
        <h1>why <br>gratitude <br> matters</h1>
    </div>
    <div class="section2 col-lg-4 col-sm-12">
        <h2>grateful people are often happier and healthier.</h2>
    </div>
    <div class="section3 col-lg-4 col-sm-12">
        <h3>gratitude is a skill you can improve, by simply writing down a few things you are grateful for, each day.</h3>
    <div id="button1">
        <a href="/signup">let's get started!</a>
    </div>
</div>
