<div class="title">
    <h1><%= @title %></h1>
</div>

<div class="row">
    <div class="section1 col-lg-4 col-sm-12">
        <h4>what were you grateful for?</h4>
            <form class="journal">
                <input type="text"><br>
                <button class="journal-button">edit</button>
                <button class="journal-button">save</button>
            </form>
    </div>

    <div class="section2 col-lg-4 col-sm-12">
        <h4>what were you grateful for?</h4>
            <form class="journal">
                <input type="text"><br>
                <button class="journal-button">edit</button>
                <button class="journal-button">save</button>
            </form>
    </div>
    <div class="section3 col-lg-4 col-sm-12">
        <h4>what were you grateful for?</h4>
            <form class="journal">
                <input type="text"><br>
                <button class="journal-button">edit</button>
                <button class="journal-button">save</button>
            </form>
    </div>
</div>